In [1]:
%matplotlib inline

import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt



plt.style.use('default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

In [2]:
import seaborn as sns

In [3]:
import calendar
trip = pd.read_csv('data/trip_train.csv', low_memory=False)
trip['start_date'] = pd.to_datetime(trip['start_date'])
trip['start_hour'] = pd.to_datetime(trip['start_date'], format = '%H', errors = 'coerce').dt.hour
trip['date'] = trip['start_date'].dt.strftime('%w')

In [4]:
stations = pd.read_csv('./data/station.csv', low_memory=False)

In [5]:
#tripAux2 = tripAux2[tripAux.subscription_type == 'Subscriber']

In [5]:
from sklearn import linear_model
print(__doc__)

Automatically created module for IPython interactive environment

In [6]:
salida = pd.read_csv('data/trip_test.csv', low_memory=False)
#esto tarda
salida['start_date'] = pd.to_datetime(salida['start_date'])
salida['start_hour'] = pd.to_datetime(salida['start_date'], format = '%H', errors = 'coerce').dt.hour
salida['date'] = salida['start_date'].dt.strftime('%w')

In [67]:
salidaFinal = trip[trip.date == str(7)]
salidaFinal = salidaFinal.loc[:,['id','salida']]
#vorrar los viajes que vuelven al mismo lugar no sirve
#tripEntrada = trip[trip.start_station_id != trip.end_station_id]
#dividir entre cosutmer y no tampoco funciona
tripEntrada = trip
T = 0;
for y in range(0, 70):
    for x in range(0, 7):
        for z in range (0,25):
            tripAuxX = tripEntrada[tripEntrada.start_station_id == stations.id[y]]
            tripsSalidaX = salida[salida.start_station_id == stations.id[y]]
            tripsAuxX = tripAuxX[tripAuxX.start_hour == z]
            tripsSalidaX = tripsSalidaX[tripsSalidaX.start_hour == z]            
            tripAuxX = tripAuxX[tripAuxX.date == str(x)]
            tripsSalidaX = tripsSalidaX[tripsSalidaX.date == str(x)]
            T = tripAuxX['duration'].sum()/tripAuxX.count().id
            tripsSalidaX['salida']= T
            tripsX= tripsSalidaX.loc[:,['id','salida']]
            salidaFinal = salidaFinal.append(tripsX)

In [148]:
salidaFinal = trip[trip.date == str(7)]
salidaFinal = salidaFinal.loc[:,['id','salida']]
#vorrar los viajes que vuelven al mismo lugar no sirve
#tripEntrada = trip[trip.start_station_id != trip.end_station_id]
#dividir entre cosutmer y no tampoco funciona
#Elino viajes a destinos muy "extraños"

T = 0;
for y in range(0, 70):
    for x in range(0, 7):
        for z in range (0,25):
            tripAuxX = tripEntrada[tripEntrada.start_station_id == stations.id[y]]
            tripsSalidaX = salida[salida.start_station_id == stations.id[y]]
            tripsAuxX = tripAuxX[tripAuxX.start_hour == z]
            tripsSalidaX = tripsSalidaX[tripsSalidaX.start_hour == z]            
            tripAuxX = tripAuxX[tripAuxX.date == str(x)]
            tripsSalidaX = tripsSalidaX[tripsSalidaX.date == str(x)]
            tripsJJ = tripAuxX[trip.date == str(7)]

            K = tripAuxX.count().id
            Aux = tripAuxX.end_station_id.value_counts().to_frame(name='cantidades')
            Aux['end_station_id'] = Aux.index
            tripsJJ = pd.merge(tripAuxX, Aux, on='end_station_id', how='inner')
            tripsJJ = tripsJJ[tripsJJ.cantidades >= K/26]
            T = tripsJJ['duration'].sum()/tripsJJ.count().id  
            if(T == None): 
                T = tripAuxX['duration'].sum()/tripAuxX.count().id
            tripsSalidaX['salida']= T
            tripsX= tripsSalidaX.loc[:,['id','salida']]
            salidaFinal = salidaFinal.append(tripsX)

/home/geco/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [149]:
salidaFinal['duration']= salidaFinal['salida']
salidaFinal= salidaFinal.loc[:,['id','duration']]
salidaFinal.to_csv("salida.csv", index=False)

In [150]:
salidaFinal = salidaFinal.sort_values(by='id', ascending=True)

In [141]:
#119998 
salidaFinal.count()

id          119998
duration    119998
dtype: int64

In [125]:
stations.id[58]

70

In [123]:
salidaFinal[salidaFinal.id == 813140]

       id  duration
2  813140       NaN

In [147]:
trip.count().id

549961

In [104]:
salida[salida.id == 913243]

,id,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code,start_hour,date
64383,913243,2015-08-31 18:55:00,San Francisco Caltrain (Townsend at 4th),70,8/31/2015 19:07,Davis at Jackson,42,470,Subscriber,94111,18,1

In [80]:
salidaFinal.to_csv("salida.csv", index=False, encoding='utf-8')

In [76]:
tripsJJ = tripAuxX[trip.date == str(7)]

K = tripAuxX.count().id
Aux = tripAuxX.end_station_id.value_counts().to_frame(name='cantidades')
Aux['end_station_id'] = Aux.index

tripsJJ = pd.merge(tripAuxX, Aux, on='end_station_id', how='inner')
    

tripsJJ = tripsJJ[tripsJJ.cantidades >=  K/12]
tripsJJ

/home/geco/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code,start_hour,date,cantidad,cantidades
0,881355,269,2015-08-08 11:25:00,Ryland Park,84,8/8/2015 11:30,San Pedro Square,6,168,Subscriber,95112,11,6,1,31
1,682110,379,2015-03-14 18:16:00,Ryland Park,84,3/14/2015 18:23,San Pedro Square,6,126,Subscriber,95112,18,6,1,31
2,554611,957,2014-11-22 12:39:00,Ryland Park,84,11/22/2014 12:55,San Pedro Square,6,19,Customer,95747,12,6,1,31
3,881710,335,2015-08-08 19:35:00,Ryland Park,84,8/8/2015 19:41,San Pedro Square,6,206,Subscriber,95112,19,6,1,31
4,270449,1572,2014-05-03 11:56:00,Ryland Park,84,5/3/2014 12:22,San Pedro Square,6,143,Customer,91360,11,6,1,31
5,796968,262,2015-06-06 20:15:00,Ryland Park,84,6/6/2015 20:19,San Pedro Square,6,206,Subscriber,95112,20,6,1,31
6,779092,418,2015-05-23 11:32:00,Ryland Park,84,5/23/2015 11:39,San Pedro Square,6,153,Subscriber,95110,11,6,1,31
7,554620,705,2014-11-22 12:44:00,Ryland Park,84,11/22/2014 12:55,San Pedro Square,6,247,Customer,95747,12,6,1,31
8,721515,970,2015-04-11 15:23:00,Ryland Park,84,4/11/2015 15:39,San Pedro Square,6,9,Subscriber,95112,15,6,1,31
9,881709,390,2015-08-08 19:35:00,Ryland Park,84,8/8/2015 19:41,San Pedro Square,6,706,Customer,95112,19,6,1,31
10,652817,361,2015-02-21 15:20:00,Ryland Park,84,2/21/2015 15:26,San Pedro Square,6,79,Subscriber,95110,15,6,1,31
11,333932,225,2014-06-21 19:42:00,Ryland Park,84,6/21/2014 19:46,San Pedro Square,6,206,Subscriber,95112,19,6,1,31
12,554971,257,2014-11-22 21:55:00,Ryland Park,84,11/22/2014 22:00,San Pedro Square,6,119,Subscriber,95112,21,6,1,31
13,554621,680,2014-11-22 12:44:00,Ryland Park,84,11/22/2014 12:55,San Pedro Square,6,105,Customer,95110,12,6,1,31
14,462400,242,2014-09-20 18:10:00,Ryland Park,84,9/20/2014 18:14,San Pedro Square,6,43,Subscriber,95112,18,6,1,31
15,881354,278,2015-08-08 11:25:00,Ryland Park,84,8/8/2015 11:30,San Pedro Square,6,245,Customer,95112,11,6,1,31
16,451384,750,2014-09-13 12:31:00,Ryland Park,84,9/13/2014 12:43,San Pedro Square,6,195,Subscriber,95110,12,6,1,31
17,554616,754,2014-11-22 12:43:00,Ryland Park,84,11/22/2014 12:55,San Pedro Square,6,161,Customer,90640,12,6,1,31
18,554613,864,2014-11-22 12:41:00,Ryland Park,84,11/22/2014 12:55,San Pedro Square,6,706,Customer,92883,12,6,1,31
19,483019,332,2014-10-04 13:13:00,Ryland Park,84,10/4/2014 13:19,San Pedro Square,6,105,Subscriber,95110,13,6,1,31
20,575629,604,2014-12-13 17:05:00,Ryland Park,84,12/13/2014 17:15,San Pedro Square,6,682,Subscriber,95110,17,6,1,31
21,881624,272,2015-08-08 17:21:00,Ryland Park,84,8/8/2015 17:26,San Pedro Square,6,206,Subscriber,95112,17,6,1,31
22,351399,249,2014-07-05 12:30:00,Ryland Park,84,7/5/2014 12:34,San Pedro Square,6,80,Subscriber,5112,12,6,1,31
23,891079,233,2015-08-15 00:22:00,Ryland Park,84,8/15/2015 0:26,San Pedro Square,6,180,Subscriber,95112,0,6,1,31
24,769925,311,2015-05-16 20:34:00,Ryland Park,84,5/16/2015 20:39,San Pedro Square,6,71,Subscriber,95112,20,6,1,31
25,554622,560,2014-11-22 12:46:00,Ryland Park,84,11/22/2014 12:55,San Pedro Square,6,195,Customer,95110,12,6,1,31
26,644242,284,2015-02-14 11:36:00,Ryland Park,84,2/14/2015 11:41,San Pedro Square,6,174,Subscriber,95112,11,6,1,31
27,568372,309,2014-12-06 17:50:00,Ryland Park,84,12/6/2014 17:55,San Pedro Square,6,676,Subscriber,95112,17,6,1,31
28,451383,753,2014-09-13 12:31:00,Ryland Park,84,9/13/2014 12:43,San Pedro Square,6,188,Subscriber,95110,12,6,1,31
29,608099,977,2015-01-17 00:37:00,Ryland Park,84,1/17/2015 0:53,San Pedro Square,6,22,Customer,95126,0,6,1,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,288354,68187,2014-05-17 17:42:00,Ryland Park,84,5/18/2014 12:39,Ryland Park,84,86,Customer,95118,17,6,1,25
57,796943,1782,2015-06-06 19:25:00,Ryland Park,84,6/6/2015 19:54,Ryland Park,84,261,Customer,95110,19,6,1,25
58,881693,3153,2015-08-08 18:57:00,Ryland Park,84,8/8/2015 19:49,Ryland Park,84,99,Customer,95110,18,6,1,25
59,324314,1202,2014-06-14 12:29:00,Ryland Park,84,6/14/2014 12:49,Ryland Park,84,302,Subscriber,95112,12,6,1,25
60,472159,130,2014-09-27 09:04:00,Ryland Park,84,9/27/2014 9:06,Ryland Park,84,233,Customer,95134,9,6,1,25
61,461958,748,2014-09-20 08:57:00,Ryland Park,84,9/20/2014 9:10,Ryland Park,84,668,Subscriber,95112,8,6,1,25
62,796682,27848,2015-06-06 11:16:00,Ryland Park,84,6/6/2015 19:00,Ryland Park,84,206,Customer,95110,11,6,1,25
63,554500,1357,2014-11-22 00:04:00,Ryland Park,84,11/22/2014 0:26,Ryland Park,84,706,Customer,95110,0,6,1,25
64,360725,808,2014-07-12 07:07:00,Ryland Park,84,7/12/2014 7:21,Ryland Park,84,294,Subscriber,95112,7,6,1,25
65,288358,63697,2014-05-17 17:45:00,Ryland Park,84,5/18/2014 11:26,Ryland Park,84,76,Customer,95110,17,6,1,25
66,815171,2416,2015-06-20 09:51:00,Ryland Park,84,6/20/2015 10:32,Ryland Park,84,178,Subscriber,95112,9,6,1,25
67,472158,5309,2014-09-27 09:03:00,Ryland Park,84,9/27/2014 10:32,Ryland Park,84,138,Customer,94535,9,6,1,25
68,391249,600,2014-08-02 10:13:00,Ryland Park,84,8/2/2014 10:23,Ryland Park,84,131,Subscriber,95112,10,6,1,25
69,472141,517,2014-09-27 08:53:00,Ryland Park,84,9/27/2014 9:02,Ryland Park,84,301,Customer,95110,8,6,1,25
70,796960,1431,2015-06-06 19:58:00,Ryland Park,84,6/6/2015 20:22,Ryland Park,84,261,Customer,95110,19,6,1,25
71,472134,875,2014-09-27 08:47:00,Ryland Park,84,9/27/2014 9:01,Ryland Park,84,72,Customer,94535,8,6,1,25
72,472135,629,2014-09-27 08:50:00,Ryland Park,84,9/27/2014 9:01,Ryland Park,84,233,Customer,94535,8,6,1,25
73,288353,68335,2014-05-17 17:40:00,Ryland Park,84,5/18/2014 12:39,Ryland Park,84,258,Customer,95110,17,6,1,25
77,472256,768,2014-09-27 11:33:00,Ryland Park,84,9/27/2014 11:46,San Jose Diridon Caltrain Station,2,195,Subscriber,95112,11,6,1,12
78,861969,650,2015-07-25 16:45:00,Ryland Park,84,7/25/2015 16:56,San Jose Diridon Caltrain Station,2,225,Subscriber,95110,16,6,1,12
79,833049,546,2015-07-04 10:43:00,Ryland Park,84,7/4/2015 10:53,San Jose Diridon Caltrain Station,2,43,Subscriber,95112,10,6,1,12
80,741074,636,2015-04-25 18:15:00,Ryland Park,84,4/25/2015 18:25,San Jose Diridon Caltrain Station,2,64,Subscriber,95110,18,6,1,12
81,472257,787,2014-09-27 11:33:00,Ryland Park,84,9/27/2014 11:46,San Jose Diridon Caltrain Station,2,715,Subscriber,95112,11,6,1,12
82,692156,689,2015-03-21 15:46:00,Ryland Park,84,3/21/2015 15:57,San Jose Diridon Caltrain Station,2,150,Subscriber,95110,15,6,1,12
83,525218,532,2014-11-01 15:44:00,Ryland Park,84,11/1/2014 15:53,San Jose Diridon Caltrain Station,2,298,Subscriber,95112,15,6,1,12
84,741073,653,2015-04-25 18:14:00,Ryland Park,84,4/25/2015 18:25,San Jose Diridon Caltrain Station,2,663,Subscriber,95110,18,6,1,12
85,440943,526,2014-09-06 10:46:00,Ryland Park,84,9/6/2014 10:54,San Jose Diridon Caltrain Station,2,127,Subscriber,95112,10,6,1,12
86,662131,621,2015-02-28 12:54:00,Ryland Park,84,2/28/2015 13:04,San Jose Diridon Caltrain Station,2,219,Subscriber,95110,12,6,1,12
87,380990,775,2014-07-26 07:21:00,Ryland Park,84,7/26/2014 7:34,San Jose Diridon Caltrain Station,2,127,Subscriber,95110,7,6,1,12
88,779039,650,2015-05-23 10:15:00,Ryland Park,84,5/23/2015 10:26,San Jose Diridon Caltrain Station,2,245,Subscriber,95112,10,6,1,12

In [72]:
Aux = tripAuxX.end_station_id.value_counts().to_frame(name='cantidad')
K = tripAuxX.count().id
Aux['end_station_id'] = Aux.index
Aux

    cantidad  end_station_id
6         31               6
84        25              84
9         18               9
2         12               2
7          9               7
3          8               3
11         5              11
10         5              10
80         3              80
14         3              14
8          3               8
4          3               4
5          2               5
13         1              13

In [41]:
Promedios = tripAuxX['end_station_id'].value_counts()/tripAuxX['end_station_id'].count()
Promedios

6     0.242188
84    0.195312
9     0.140625
2     0.093750
7     0.070312
3     0.062500
11    0.039062
10    0.039062
80    0.023438
14    0.023438
8     0.023438
4     0.023438
5     0.015625
13    0.007812
Name: end_station_id, dtype: float64

In [15]:
tripAuxX

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code,start_hour,date
3042,881355,269,2015-08-08 11:25:00,Ryland Park,84,8/8/2015 11:30,San Pedro Square,6,168,Subscriber,95112,11,6
37609,682110,379,2015-03-14 18:16:00,Ryland Park,84,3/14/2015 18:23,San Pedro Square,6,126,Subscriber,95112,18,6
40174,554611,957,2014-11-22 12:39:00,Ryland Park,84,11/22/2014 12:55,San Pedro Square,6,19,Customer,95747,12,6
45354,536235,251,2014-11-08 20:30:00,Ryland Park,84,11/8/2014 20:34,Japantown,9,205,Subscriber,95110,20,6
50488,411293,784,2014-08-16 08:52:00,Ryland Park,84,8/16/2014 9:05,Ryland Park,84,716,Subscriber,95112,8,6
50851,381027,670,2014-07-26 08:54:00,Ryland Park,84,7/26/2014 9:05,Arena Green / SAP Center,14,144,Customer,95112,8,6
51618,881710,335,2015-08-08 19:35:00,Ryland Park,84,8/8/2015 19:41,San Pedro Square,6,206,Subscriber,95112,19,6
51652,472256,768,2014-09-27 11:33:00,Ryland Park,84,9/27/2014 11:46,San Jose Diridon Caltrain Station,2,195,Subscriber,95112,11,6
58718,270449,1572,2014-05-03 11:56:00,Ryland Park,84,5/3/2014 12:22,San Pedro Square,6,143,Customer,91360,11,6
60483,472155,3985,2014-09-27 09:03:00,Ryland Park,84,9/27/2014 10:09,Ryland Park,84,301,Customer,95110,9,6
64948,324442,377,2014-06-14 16:22:00,Ryland Park,84,6/14/2014 16:28,Japantown,9,109,Subscriber,95110,16,6
72953,494111,700,2014-10-11 16:08:00,Ryland Park,84,10/11/2014 16:20,Santa Clara County Civic Center,80,195,Subscriber,95116,16,6
73273,796968,262,2015-06-06 20:15:00,Ryland Park,84,6/6/2015 20:19,San Pedro Square,6,206,Subscriber,95112,20,6
75409,861969,650,2015-07-25 16:45:00,Ryland Park,84,7/25/2015 16:56,San Jose Diridon Caltrain Station,2,225,Subscriber,95110,16,6
81181,796973,329,2015-06-06 20:30:00,Ryland Park,84,6/6/2015 20:36,San Jose City Hall,10,17,Subscriber,95112,20,6
88795,779092,418,2015-05-23 11:32:00,Ryland Park,84,5/23/2015 11:39,San Pedro Square,6,153,Subscriber,95110,11,6
100863,554620,705,2014-11-22 12:44:00,Ryland Park,84,11/22/2014 12:55,San Pedro Square,6,247,Customer,95747,12,6
112775,324333,1939,2014-06-14 12:57:00,Ryland Park,84,6/14/2014 13:29,MLK Library,11,709,Customer,60616,12,6
113357,554501,1309,2014-11-22 00:05:00,Ryland Park,84,11/22/2014 0:27,Ryland Park,84,195,Customer,95747,0,6
119940,554503,1283,2014-11-22 00:05:00,Ryland Park,84,11/22/2014 0:27,Ryland Park,84,19,Customer,95747,0,6
121679,525339,246,2014-11-01 19:41:00,Ryland Park,84,11/1/2014 19:45,Japantown,9,679,Customer,95110,19,6
124194,296828,555,2014-05-24 09:41:00,Ryland Park,84,5/24/2014 9:50,San Jose Civic Center,3,146,Subscriber,95112,9,6
131331,833049,546,2015-07-04 10:43:00,Ryland Park,84,7/4/2015 10:53,San Jose Diridon Caltrain Station,2,43,Subscriber,95112,10,6
141788,560784,329,2014-11-29 11:05:00,Ryland Park,84,11/29/2014 11:11,Japantown,9,142,Subscriber,95110,11,6
151021,721515,970,2015-04-11 15:23:00,Ryland Park,84,4/11/2015 15:39,San Pedro Square,6,9,Subscriber,95112,15,6
159226,741074,636,2015-04-25 18:15:00,Ryland Park,84,4/25/2015 18:25,San Jose Diridon Caltrain Station,2,64,Subscriber,95110,18,6
160967,472257,787,2014-09-27 11:33:00,Ryland Park,84,9/27/2014 11:46,San Jose Diridon Caltrain Station,2,715,Subscriber,95112,11,6
162956,472139,559,2014-09-27 08:52:00,Ryland Park,84,9/27/2014 9:02,Ryland Park,84,138,Customer,95110,8,6
163316,535640,341,2014-11-08 08:53:00,Ryland Park,84,11/8/2014 8:58,Japantown,9,72,Subscriber,95110,8,6
163570,692156,689,2015-03-21 15:46:00,Ryland Park,84,3/21/2015 15:57,San Jose Diridon Caltrain Station,2,150,Subscriber,95110,15,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
447057,297142,1124,2014-05-24 18:02:00,Ryland Park,84,5/24/2014 18:21,Paseo de San Antonio,7,122,Subscriber,95110,18,6
448713,421695,477,2014-08-23 17:53:00,Ryland Park,84,8/23/2014 18:01,Paseo de San Antonio,7,122,Subscriber,95112,17,6
448899,787132,6923,2015-05-30 13:38:00,Ryland Park,84,5/30/2015 15:34,Adobe on Almaden,5,248,Customer,95110,13,6
451854,711998,467,2015-04-04 08:48:00,Ryland Park,84,4/4/2015 8:56,San Salvador at 1st,8,647,Subscriber,95112,8,6
460714,381208,961,2014-07-26 13:18:00,Ryland Park,84,7/26/2014 13:34,MLK Library,11,176,Subscriber,95112,13,6
463708,391249,600,2014-08-02 10:13:00,Ryland Park,84,8/2/2014 10:23,Ryland Park,84,131,Subscriber,95112,10,6
466583,805723,1303,2015-06-13 10:30:00,Ryland Park,84,6/13/2015 10:52,San Jose Civic Center,3,206,Customer,95113,10,6
470998,815481,252,2015-06-20 18:09:00,Ryland Park,84,6/20/2015 18:13,Japantown,9,42,Subscriber,95110,18,6
478355,769925,311,2015-05-16 20:34:00,Ryland Park,84,5/16/2015 20:39,San Pedro Square,6,71,Subscriber,95112,20,6
480662,472141,517,2014-09-27 08:53:00,Ryland Park,84,9/27/2014 9:02,Ryland Park,84,301,Customer,95110,8,6
487480,554622,560,2014-11-22 12:46:00,Ryland Park,84,11/22/2014 12:55,San Pedro Square,6,195,Customer,95110,12,6
487646,796960,1431,2015-06-06 19:58:00,Ryland Park,84,6/6/2015 20:22,Ryland Park,84,261,Customer,95110,19,6
488512,787346,442,2015-05-30 17:54:00,Ryland Park,84,5/30/2015 18:02,Japantown,9,194,Subscriber,95112,17,6
491404,644242,284,2015-02-14 11:36:00,Ryland Park,84,2/14/2015 11:41,San Pedro Square,6,174,Subscriber,95112,11,6
492300,472134,875,2014-09-27 08:47:00,Ryland Park,84,9/27/2014 9:01,Ryland Park,84,72,Customer,94535,8,6
495342,568372,309,2014-12-06 17:50:00,Ryland Park,84,12/6/2014 17:55,San Pedro Square,6,676,Subscriber,95112,17,6
497536,288004,472,2014-05-17 10:59:00,Ryland Park,84,5/17/2014 11:07,Japantown,9,44,Customer,37204,10,6
501788,324368,514,2014-06-14 14:04:00,Ryland Park,84,6/14/2014 14:13,MLK Library,11,41,Subscriber,95112,14,6
502324,343079,405,2014-06-28 08:11:00,Ryland Park,84,6/28/2014 8:18,Santa Clara at Almaden,4,122,Subscriber,95110,8,6
506644,451383,753,2014-09-13 12:31:00,Ryland Park,84,9/13/2014 12:43,San Pedro Square,6,188,Subscriber,95110,12,6
510730,380990,775,2014-07-26 07:21:00,Ryland Park,84,7/26/2014 7:34,San Jose Diridon Caltrain Station,2,127,Subscriber,95110,7,6
515644,779039,650,2015-05-23 10:15:00,Ryland Park,84,5/23/2015 10:26,San Jose Diridon Caltrain Station,2,245,Subscriber,95112,10,6
516725,472135,629,2014-09-27 08:50:00,Ryland Park,84,9/27/2014 9:01,Ryland Park,84,233,Customer,94535,8,6
517616,432179,939,2014-08-30 17:44:00,Ryland Park,84,8/30/2014 17:59,Santa Clara County Civic Center,80,182,Customer,95112,17,6
518314,769841,485,2015-05-16 17:06:00,Ryland Park,84,5/16/2015 17:15,Paseo de San Antonio,7,10,Subscriber,95110,17,6
529832,288353,68335,2014-05-17 17:40:00,Ryland Park,84,5/18/2014 12:39,Ryland Park,84,258,Customer,95110,17,6
530225,287872,414,2014-05-17 07:16:00,Ryland Park,84,5/17/2014 7:23,San Jose Civic Center,3,710,Subscriber,5112,7,6
530291,608099,977,2015-01-17 00:37:00,Ryland Park,84,1/17/2015 0:53,San Pedro Square,6,22,Customer,95126,0,6
535521,731021,373,2015-04-18 08:09:00,Ryland Park,84,4/18/2015 8:16,Paseo de San Antonio,7,293,Subscriber,5112,8,6
546480,682171,268,2015-03-14 19:49:00,Ryland Park,84,3/14/2015 19:54,San Pedro Square,6,19,Subscriber,95112,19,6

In [25]:
#Agregar Horas.
salidaFinal = trip[trip.date == str(7)]
salidaFinal = salidaFinal.loc[:,['id','salida']]
#prueba sin horas
tripEntrada = trip
T = 0;
for y in range(0, 70):
    for x in range(0, 7):
        tripAuxX = tripEntrada[tripEntrada.start_station_id == stations.id[y]]
        tripsSalidaX = salida[salida.start_station_id == stations.id[y]]         
        tripAuxX = tripAuxX[tripAuxX.date == str(x)]
        tripsSalidaX = tripsSalidaX[tripsSalidaX.date == str(x)]
        T = tripAuxX['duration'].sum()/tripAuxX.count().id
        tripsSalidaX['salida']= T
        tripsX= tripsSalidaX.loc[:,['id','salida']]
        salidaFinal = salidaFinal.append(tripsX)

In [93]:
#copias de rezerva

linea = tripAux3.loc[:,['duration','distancia']]
lineaX = linea.loc[:,['duration']]
lineaY = linea.loc[:,['distancia']]

# Se separa las variables explicadas
linea_X_train = lineaX[:-30]
linea_X_test = lineaX[-30:]
linea_Y_train = lineaY[:-30]
linea_Y_test = lineaY[-30:]

regr = linear_model.LinearRegression()
regr.fit(linea_X_train, linea_Y_train)

print (u'Regresión Mínimos Cuadrados Ordinarios')
# Coeficiente
print('Coeficientes:',regr.coef_)
# MSE
print("Residual sum of squares: %.2f" % np.mean((regr.predict(linea_X_test) - linea_Y_test) ** 2))
# Varianza explicada
print('Varianza explicada: %.2f\n' % regr.score(linea_X_test, linea_Y_test))






#Agregar Horas.
salidaFinal = trip[trip.date == str(7)]
salidaFinal = salidaFinal.loc[:,['id','salida']]
T = 0;
for y in range(0, 64):
    for x in range(0, 6):
        for z in range (0,24):
            tripAuxX = trip[trip.start_station_id == stations.id[y]]
            tripsSalidaX = salida[salida.start_station_id == stations.id[y]]
            tripsAuxX = tripAuxX[tripAuxX.start_hour == z]
            tripsSalidaX = tripsSalidaX[tripsSalidaX.start_hour == z]            
            tripAuxX = tripAuxX[tripAuxX.date == str(x)]
            tripsSalidaX = tripsSalidaX[tripsSalidaX.date == str(x)]
            T = tripAuxX['duration'].sum()/tripAuxX.count().id
            tripsSalidaX['salida']= T
            tripsX= tripsSalidaX.loc[:,['id','salida']]
            salidaFinal = salidaFinal.append(tripsX)

Regresión Mínimos Cuadrados Ordinarios
Coeficientes: [[ 0.02817081]]
Residual sum of squares: 13533.17
Varianza explicada: 0.08