In [1]:
# magic function para hacer que los graficos de matplotlib se renderizen en el notebook.
%matplotlib inline

import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

In [2]:
# carga de un data frame
#flights = pd.read_csv('../data/flight-delays/flights.csv', low_memory=False)
status1 = pd.read_csv('./data/status.csv', low_memory=True)

In [3]:
status1[:10]

   station_id  bikes_available  docks_available                 time
0           2                2               25  2013/08/29 12:06:01
1           2                2               25  2013/08/29 12:07:01
2           2                2               25  2013/08/29 12:08:01
3           2                2               25  2013/08/29 12:09:01
4           2                2               25  2013/08/29 12:10:01
5           2                2               25  2013/08/29 12:11:01
6           2                2               25  2013/08/29 12:12:01
7           2                2               25  2013/08/29 12:13:01
8           2                2               25  2013/08/29 12:15:01
9           2                2               25  2013/08/29 12:16:02

In [9]:
NotBike = status1['bikes_available'].value_counts()
NotBike

7     8531888
8     8421453
6     7470359
9     7214794
5     5924336
10    5711698
11    4435841
4     4291350
12    3416705
3     2921330
13    2667337
14    2047827
2     1778662
15    1535801
16    1094322
1     1006185
17     885202
18     669097
0      529004
19     470656
20     339360
21     265267
22     184109
23     102663
24      30178
25      18970
26      15412
27       4628
Name: bikes_available, dtype: int64

In [26]:
NotBike = status1.loc[:,['station_id','bikes_available']].groupby('bikes_available')
NotBike = NotBike.get_group(0)
NotBike[:10]

        station_id  bikes_available
91002            2                0
91003            2                0
91004            2                0
91005            2                0
136103           2                0
136104           2                0
136105           2                0
136106           2                0
136107           2                0
136108           2                0

In [25]:
NotBike1 = NotBike['station_id'].value_counts()
NotBike1

45    29198
76    24725
48    24401
62    24077
60    23143
70    21726
73    20739
41    19080
82    17824
64    17111
71    14865
54    14811
56    14280
63    13913
65    13421
75    13223
55    12790
47    12682
67    12029
69    11985
66    11441
4     10618
51    10586
50    10307
32     9999
10     9820
72     8284
74     7687
42     6981
57     6938
      ...
84     3642
6      3564
28     3251
34     2785
80     2105
46     1949
11     1768
35     1570
2      1340
5      1321
13     1182
3      1066
37     1041
25      990
8       895
83      808
33      758
29      752
9       735
24      583
30      513
16      233
7       196
23      180
14      101
21       94
36       79
26        7
38        3
12        3
Name: station_id, dtype: int64

In [10]:
NotDocks = status1['docks_available'].value_counts()
NotDocks

8     8060999
7     7654326
9     7196088
6     6366026
10    6193698
11    5326801
5     4670877
12    4320116
13    3571719
4     3117316
14    2914201
15    2256575
3     1964667
16    1686186
17    1352538
2     1279958
18     977068
1      749706
19     722567
20     430162
0      326679
21     318522
22     216704
23     140397
24      69459
25      47726
26      31105
27      22248
Name: docks_available, dtype: int64

In [27]:
NotDocks = status1.loc[:,['station_id','docks_available']].groupby('docks_available')
NotDocks = NotDocks.get_group(0)
NotDocks[:10]

        station_id  docks_available
272259           3                0
272260           3                0
272261           3                0
272262           3                0
272263           3                0
272264           3                0
272265           3                0
272266           3                0
272267           3                0
272268           3                0

In [28]:
NotDocks1 = NotDocks['station_id'].value_counts()
NotDocks1

54    30136
73    20760
60    19543
70    19422
72    17011
69    13639
65    13193
39    12376
35    11019
48    10916
50    10353
7     10224
74     9301
57     8067
64     8028
46     7316
55     6753
4      6614
66     5712
63     5326
76     5126
68     4873
45     4836
3      4817
9      4772
71     4211
51     4126
82     3738
42     3689
41     3647
6      3633
27     3279
77     3129
38     2641
61     2470
75     2084
56     2027
8      1923
84     1744
32     1732
30     1713
47     1524
49     1468
37     1169
31     1035
23      998
59      922
2       466
16      465
11      462
25      426
36      399
28      364
10      344
67      269
62      209
26      142
58       83
13       10
80        5
Name: station_id, dtype: int64

In [27]:
grouped  = status1.loc[:,['station_id','bikes_available','docks_available']].groupby('station_id')
Station = grouped.mean()
Station

            bikes_available  docks_available
station_id
2                 13.172570        13.761535
3                  8.461138         6.527884
4                  5.293746         5.685249
5                  8.114816        10.868663
6                  7.608563         7.383773
7                  8.533147         6.445585
8                  7.541344         7.425911
9                  8.264154         6.717211
10                 6.357413         8.633980
11                 9.504102         9.473113
12                10.466016         8.513316
13                 6.866971         8.112469
14                 8.680831        10.311003
16                 7.245454         7.738826
21                 6.617412         8.375924
22                11.933344        14.966718
23                 7.217932         7.773037
24                 7.291859         7.707475
25                 6.644471         8.352040
26                 7.725865         7.273585
27                 7.134103         7.854761
28                10.933037        12.046697
29                10.793000        12.190148
30                 7.788842         7.193053
31                 7.236151         7.757016
32                 4.725381         6.260247
33                 6.716214         8.272194
34                10.152529        12.767083
35                 6.220736         4.764798
36                 8.211770         6.776213
...                     ...              ...
50                13.320411         9.606516
51                 7.930296        11.039980
54                 8.505379         6.460728
55                11.423723        11.519478
56                 7.554834        11.410119
57                 7.635175         7.343042
58                 7.965555        11.015858
59                 8.782124        14.190744
60                 7.428745         7.532131
61                12.605820        13.550611
62                 6.132826        12.814504
63                 8.000551        10.967985
64                 6.978769         8.002973
65                 7.652775         7.313036
66                 8.828149        10.108930
67                10.780019        16.146358
68                 8.869512        10.100188
69                12.207459        10.748414
70                10.734219         8.227616
71                 8.832645        10.131466
72                12.701324        10.234205
73                 7.846537         7.130184
74                12.079848        10.068259
75                 7.382812        11.568053
76                 8.401072        10.540128
77                12.553293        13.588473
80                 6.798252         8.187697
82                 6.094441         8.885256
83                 6.483283         8.511877
84                 7.045862         7.937300

[70 rows x 2 columns]

In [25]:
# Heat map, showing the same information than before, the darker, the stronger is the relationship. 
fig, ax = plt.subplots(figsize=(16,5));        # Sample figsize in inches
cor = Station.loc[:,['bikes_available','docks_available']].corr().abs()
cor.values[[np.arange(2)]*2] = 0
sns.heatmap(cor,cmap='Oranges');

In [26]:
Station.loc[:,['bikes_available','docks_available']].corr()

                 bikes_available  docks_available
bikes_available         1.000000         0.581697
docks_available         0.581697         1.000000

In [ ]:
grouped2  = status1.loc[:,['station_id','bikes_available','docks_available','time']].groupby('station_id')
time = grouped2.get_group('2').mean()