# Dataframe Trip

In [10]:
# magic function para hacer que los graficos de matplotlib se renderizen en el notebook.
%matplotlib inline

import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

In [22]:
# carga del Dataframe Trip
trip = pd.read_csv('Data/trip.csv', low_memory=False)
weather=pd.read_csv('Data/weather.csv', low_memory=False)
trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669959 entries, 0 to 669958
Data columns (total 11 columns):
id                    669959 non-null int64
duration              669959 non-null int64
start_date            669959 non-null object
start_station_name    669959 non-null object
start_station_id      669959 non-null int64
end_date              669959 non-null object
end_station_name      669959 non-null object
end_station_id        669959 non-null int64
bike_id               669959 non-null int64
subscription_type     669959 non-null object
zip_code              663340 non-null object
dtypes: int64(5), object(6)
memory usage: 56.2+ MB

In [11]:
trip.head(5)

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [ ]:
#Se puede observar en primera instancia que hay algunos viajes que solo duran 1 o dos minutos, que comienzan y terminan en 
#la misma estacion, habria que ver el motivo por el cual el alquiler de bicicleta dura tan poco. ej: comienza a llover

In [27]:
trip.tail()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
669954,432951,619,9/1/2014 4:21,Powell Street BART,39,9/1/2014 4:32,Townsend at 7th,65,335,Subscriber,94118
669955,432950,6712,9/1/2014 3:16,Harry Bridges Plaza (Ferry Building),50,9/1/2014 5:08,San Francisco Caltrain (Townsend at 4th),70,259,Customer,44100
669956,432949,538,9/1/2014 0:05,South Van Ness at Market,66,9/1/2014 0:14,5th at Howard,57,466,Customer,32
669957,432948,568,9/1/2014 0:05,South Van Ness at Market,66,9/1/2014 0:15,5th at Howard,57,461,Customer,32
669958,432947,569,9/1/2014 0:05,South Van Ness at Market,66,9/1/2014 0:15,5th at Howard,57,318,Customer,32

In [20]:
#Limpieza de valores que no aportan
trip.dropna(inplace=False )
trip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 663340 entries, 0 to 669958
Data columns (total 11 columns):
id                    663340 non-null int64
duration              663340 non-null int64
start_date            663340 non-null object
start_station_name    663340 non-null object
start_station_id      663340 non-null int64
end_date              663340 non-null object
end_station_name      663340 non-null object
end_station_id        663340 non-null int64
bike_id               663340 non-null int64
subscription_type     663340 non-null object
zip_code              663340 non-null object
dtypes: int64(5), object(6)
memory usage: 60.7+ MB

In [ ]:
#Como afecta el tiempo en los viajes?
#Como los viajes varian con la hora en el día y el dia de la semana?

In [ ]:
#Cuales son los viajes mas frecuentes ? Saber esto podria abastecer las estaciones con mas bicicletas que otras estaciones 
#que no son tan concurridas y distribuirlas de manera mas productivas.

In [ ]:
#que diferencias existen entre Subscriber y customer?