In [2]:
# magic function para hacer que los graficos de matplotlib se renderizen en el notebook.
%matplotlib inline

import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

In [8]:
# iter_status = pd.read_csv('./data/status.csv', iterator= True, chunksize= 100000)

In [9]:
# carga de un data frame
weather = pd.read_csv('./data/weather.csv', low_memory=False)
# carga de un data frame
# stations = pd.read_csv('./data/station.csv', low_memory=False)

In [10]:
# vemos primeras filas del data frame
weather[:3]

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code
0,8/29/2013,74.0,68.0,61.0,61.0,58.0,56.0,93.0,75.0,57.0,...,10.0,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107
1,8/30/2013,78.0,69.0,60.0,61.0,58.0,56.0,90.0,70.0,50.0,...,10.0,7.0,29.0,13.0,35.0,0,2.0,NaN,291.0,94107
2,8/31/2013,71.0,64.0,57.0,57.0,56.0,54.0,93.0,75.0,57.0,...,10.0,10.0,26.0,15.0,31.0,0,4.0,NaN,284.0,94107

In [11]:
# stations[:3]

In [12]:
# si queremos analizar cuales son los valores de las columnas podemos obtenerlos con .columns
print "COLUMNS WEATHER.CSV:"
print ""
for name in weather.columns.values:
    print name
    # si queremos analizar cuales son los valores de las columnas podemos obtenerlos con .columns
print ""
# print "COLUMNS STATIONS.CSV:"
# print ""
# for name in stations.columns.values:
    # print name

COLUMNS WEATHER.CSV:

date
max_temperature_f
mean_temperature_f
min_temperature_f
max_dew_point_f
mean_dew_point_f
min_dew_point_f
max_humidity
mean_humidity
min_humidity
max_sea_level_pressure_inches
mean_sea_level_pressure_inches
min_sea_level_pressure_inches
max_visibility_miles
mean_visibility_miles
min_visibility_miles
max_wind_Speed_mph
mean_wind_speed_mph
max_gust_speed_mph
precipitation_inches
cloud_cover
events
wind_dir_degrees
zip_code

In [15]:
weatherSmall = weather.loc[:,("date","mean_temperature_f","mean_dew_point_f","mean_humidity","mean_sea_level_pressure_inches","mean_visibility_miles","mean_wind_speed_mph","precipitation_inches","cloud_cover","events", "wind_dir_degrees")]
weatherSmall.head()

,date,mean_temperature_f,mean_dew_point_f,mean_humidity,mean_sea_level_pressure_inches,mean_visibility_miles,mean_wind_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees
0,8/29/2013,68.0,58.0,75.0,30.02,10.0,11.0,0,4.0,NaN,286.0
1,8/30/2013,69.0,58.0,70.0,30.00,10.0,13.0,0,2.0,NaN,291.0
2,8/31/2013,64.0,56.0,75.0,29.96,10.0,15.0,0,4.0,NaN,284.0
3,9/1/2013,66.0,56.0,68.0,29.93,10.0,13.0,0,4.0,NaN,284.0
4,9/2/2013,69.0,60.0,77.0,29.94,10.0,12.0,0,6.0,NaN,277.0

In [26]:
weatherSmall.describe()

,mean_temperature_f,mean_dew_point_f,mean_humidity,mean_sea_level_pressure_inches,mean_visibility_miles,mean_wind_speed_mph,cloud_cover,wind_dir_degrees
count,3661.000000,3611.000000,3611.000000,3664.000000,3652.000000,3664.000000,3664.000000,3664.000000
mean,61.348812,48.794794,67.256993,30.022290,9.822015,5.962063,2.784389,266.605895
std,7.234397,7.822281,10.945591,0.130795,1.469894,3.340603,2.276401,102.047645
min,38.000000,13.000000,24.000000,29.430000,4.000000,0.000000,0.000000,0.000000
25%,56.000000,44.000000,62.000000,29.930000,10.000000,3.000000,1.000000,254.000000
50%,61.000000,49.000000,68.000000,30.010000,10.000000,6.000000,3.000000,297.000000
75%,67.000000,55.000000,74.000000,30.110000,10.000000,8.000000,5.000000,330.000000
max,84.000000,65.000000,96.000000,30.410000,20.000000,23.000000,8.000000,2772.000000

In [42]:
weatherGrouped = weatherSmall.groupby("events").mean()
weatherGrouped.head()

,mean_temperature_f,mean_dew_point_f,mean_humidity,mean_sea_level_pressure_inches,mean_visibility_miles,mean_wind_speed_mph,cloud_cover,wind_dir_degrees
events,,,,,,,,
Fog,56.410714,48.67619,79.209524,30.114018,7.357143,3.937500,3.428571,268.223214
Fog-Rain,56.705882,51.62500,85.312500,30.051176,6.764706,6.352941,5.705882,211.411765
Rain,58.108247,50.16000,76.370667,29.986521,9.206186,7.425258,5.729381,201.381443
Rain-Thunderstorm,58.333333,50.50000,75.500000,29.850000,9.333333,7.666667,5.333333,240.000000
rain,64.000000,53.00000,65.000000,29.710000,9.000000,7.500000,7.000000,274.500000

In [45]:
weatherEvents = weather.loc[(weather.events > ""),("date","events")]
weatherEvents.head()

          date events
14   9/12/2013    Fog
23   9/21/2013   Rain
32   9/30/2013    Fog
44  10/12/2013    Fog
52  10/20/2013    Fog