In [115]:
# magic function para hacer que los graficos de matplotlib se renderizen en el notebook.
%matplotlib inline

import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

In [116]:
# iter_status = pd.read_csv('./data/status.csv', iterator= True, chunksize= 100000)

In [165]:
# carga de un data frame
status = pd.read_csv('./data/statussmall.csv', low_memory=False, parse_dates=['time'])
status.time = status.time.dt.date
status.head()
# carga de un data frame
# stations = pd.read_csv('./data/station.csv', low_memory=False)

   station_id  bikes_available  docks_available        time
0           2                2               25  2013-08-29
1           2                2               25  2013-08-29
2           2                2               25  2013-08-29
3           2                2               25  2013-08-29
4           2                2               25  2013-08-29